.flex {
  display: flex;
}

.container {
  flex-direction: column;
  margin: 100px auto;
  border: 0.5px solid rgb(215, 207, 207);
  text-align: center;
  padding: 2rem;
  width: 300px;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30px 10px 30px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navContainer li {
  margin-right: 30px;
  margin-top: 20px;
}

.result {
  display: flex;
  color: #fff;
  justify-content: end;
  background-color: rgba(150, 150, 150);
  width: 300px;
  height: 50px;
}

.button {
  width: 75px;
  height: 50px;
}

.child {
  width: 300px;
}

.key {
  background-color: rgb(215, 215, 215);
  color: rgb(20, 19, 19);
}

.operator {
  background-color: #ff8000;
}

.operator .equal {
  width: 75px;
}

.zero {
  width: 150px;
}

.calcul {
  display: flex;
  flex-direction: row;
}

.calcul h2 {
  margin-top: 100px;
  margin-left: 30px;
}

.quote {
  margin-left: 50px;
  margin-top: 100px;
  font-size: larger;
  font-style: italic;
}

.home {
  margin-left: 30px;
  margin-top: 100px;
}
