.flex {
  display: flex;
}

.container {
  flex-direction: column;
  margin: 100px auto;
  border: 0.5px solid rgb(215, 207, 207);
  text-align: center;
  padding: 2rem;
  width: 300px;
}

.result {
  display: flex;
  color: #fff;
  justify-content: end;
  background-color: rgba(150, 150, 150);
  width: 300px;
  height: 50px;
}

.button {
  width: 75px;
  height: 50px;
}

.child {
  width: 300px;
}

.key {
  background-color: rgb(215, 215, 215);
  color: rgb(20, 19, 19);
}

.operator {
  background-color: #ff8000;
}

.operator .equal {
  width: 75px;
}

.zero {
  width: 225px;
}
